@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    font-family: Montserrat, sans-serif;
}

body {
    overflow-x: hidden;
    background: #333;
}

.top-back {
    background: black;
    position: absolute;
    top: -500px;
    left: -25%;
    height: calc(60% + 500px);
    width: 150%;
    transform: rotate(6deg);
}

.top-content {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 55%;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    user-select: none;
}

.top-content h1 {
    margin-top: 15%;
}

.content {
    position: absolute;
    top: 80%;
    border-top: 3px solid white;
    width: 80%;
    left: 10%;
    height: 500px;
    text-align: center;
}

.content img {
    margin-top: 20px;
}

.download-btn {
    border: none;
    background: transparent;
    color: #fff;
    cursor: pointer;
    border-right: 2px solid #fff;
    font-size: 20px;
    position: relative;
}

.download-btn:hover {
    text-decoration: underline;
}

.download-btn::before {
    content: '';
    position: absolute;
    top: 2px;
    left: -20px;
    height: 20px;
    width: 20px;
    background-image: url("img/download.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.github-btn {
    border: none;
    background: transparent;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    position: relative;
}

.github-btn:hover {
    text-decoration: underline;
}

.github-btn::before {
    content: '';
    position: absolute;
    top: 2px;
    right: -20px;
    height: 20px;
    width: 20px;
    background-image: url("img/github.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

p {
    color: #fff;
}

.loading {
    height: 200px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
}